.background{
    background-color:hwb(0 21% 79% / 0.267);
}

*{
    text-align: center;
    padding: 15px;
    margin: auto;
}

li{
    padding: 0px;
    text-align: left;
}

.title{
    background-color: cadetblue;
    margin-bottom: 15px;
}

.link a{
    display: block;
    outline: 1px solid #000000;
    background-color:cornflowerblue;
    width: 300px;

}

.link a:hover{
    background-color: crimson;
}

.header{
    background-color: rgb(101, 120, 156);
    /* margin: 15px */

}